<!--
@Author: Vargas Hector <vargash1>
@Date:   Thursday, March 31st 2016, 2:27:56 am
@Email:  vargash1@wit.edu
@Last modified by:   vargash1
@Last modified time: Thursday, April 14th 2016, 8:45:03 pm
-->
<form method="post" action="addtask">
    <!--  Task Title -->
    <div class="form-group row">
        <label for="taskT" class="col-sm-2 form-control-label">Task Title</label>
        <div class="col-sm-10">
            <input type="text" name="tasktitle" class="form-control" id="taskT" placeholder="Task Title">
        </div>
    </div>
    <div class="form-group row">
        <!-- Task Date Due -->
        <label for="taskDD" class="col-sm-2 form-control-label">Date Due</label>
        <div class="col-sm-10">
            <input type="date" name="datedue" class="form-control" id="taskDD">
        </div>
    </div>
    <!--  Task time due -->
    <div class="form-group row">
        <label for="taskTD" class="col-sm-2 form-control-label">Time Due</label>
        <div class="col-sm-10">
            <input type="time" name="timedue" class="form-control" id="taskTD" >
        </div>
    </div>
    <!--  Task Body -->
    <div class = "divform">
        <label for="taskBD">Task Body</label>
        <br>
        <textarea  name="taskbody" cols="30"  wrap="hard" id="taskBD"></textarea>
        <br>
    </div>
    <br>
    <!--  Color choice -->
    <div class="text-center">
        <label> Note Color </label>
        <div class="btn-group" data-toggle="buttons">
            {{#if allcolors}}
                {{#each allcolors}}
                    <label class="btn btn-primary" style="background-color:{{colorcode}};">
                        <input type="radio" name="color" autocomplete="off" value="{{colorcode}}">
                        <i class="zmdi zmdi-circle zmdi-hc-fw" style="color: {{colorcode}};"></i>
                    </label>
                {{/each}}
            {{/if}}
        </div>
    </div>
    <input type="hidden" name="txtclid" value="" readonly/>
    <input type="hidden" name="bxid" value="" readonly/>
    <br>
    <!-- Submit -->
    <div class ="divform">
        <button type="submit" class="button">
            <i class="zmdi zmdi-assignment"></i>  Add  Task
        </button>
    </div>
</form>
<div class = "divform">
    {{#if message}}
        <i class="fa fa-exclamation-triangle"></i> {{message}} <br>
    {{/if}}
    {{#if rules}}
        {{#each rules}}
            {{rule}}<br>
        {{/each}}
    {{/if}}
</div>
