<!--
@Author: Vargas Hector <vargash1>
@Date:   Wednesday, March 30th 2016, 5:42:52 pm
@Email:  vargash1@wit.edu
@Last modified by:   vargash1
@Last modified time: Thursday, April 14th 2016, 10:14:47 pm
-->
{{#unless user.username}}
    <div class = "divform">
        Welcome to vTask, please sign in or create an account!
    </div>
{{/unless}}
{{#if message}}
    <div class = "divform">
            <i class="fa fa-info-circle"></i> {{message}} <br>
    </div>
{{/if}}
<!--  modal messages-->
{{#if mod}}
    <div class = "divform">
        {{#each mods}}
            <i class="fa fa-info-circle"></i> {{mods}} <br>
        {{/each}}
    </div>
{{/if}}
<br>
{{#if tasks}}
    <div class="grid" data-masonry='{ "columnWidth": 200, "gutter":10,"isFitWidth": true,"itemSelector": ".grid-item"}'>
    {{#each tasks}}
        <div class="grid-item">
            <blockquote class="note notecolor" style="background-color:{{colors}};color:{{txtcolor}}">
                    <div class="titletext">
                        {{title}}

                        <div class="noteoptions">
                            <button class="button button-mod" id="modifyButton" style="color:{{txtcolor}};" data-toggle="modal" data-target="#myModalMod"  data-id="{{noteid}}" data-title="{{title}}" data-body="{{taskbody}}" data-date="{{to_char}}" data-time="{{timedue}}" data-shadow="{{bxshadow}}">
                                <i class="fa fa-wrench fa-fw"></i>
                            </button>
                            <button class="button button-del" id="deleteButton" style="color:{{txtcolor}};" data-toggle="modal" data-target="#myModalDel"  data-id="{{noteid}}" data-title="{{title}}" data-body="{{taskbody}}" data-shadow="{{bxshadow}}">
                                <i class="fa fa-eraser fa-fw"></i>
                            </button>
                            <button class="button button-col" id="colorButton" style="color:{{txtcolor}};" data-toggle="modal" data-target="#myModalCol"  data-id="{{noteid}}" data-title="{{title}}" data-shadow="{{bxshadow}}">
                                <i class="zmdi zmdi-palette"></i>
                            </button>
                        </div>
                    </div>
                    <br>
                    {{taskbody}} <br>
                    {{#if to_char}}
                        <i class="fa fa-calendar fa-fw"></i> {{to_char}}
                    {{/if}}
                    {{#if timedue}}
                        <i class="fa fa-clock-o fa-fw"></i> {{timedue}} <br>
                    {{/if}}
            </blockquote>
        </div>
    {{/each}}
    </div>
{{/if}}

<!-- Modify Modal -->
<div class="modal fade" id="myModalMod" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">
                <i class="fa fa-times-circle-o"></i>
            </span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Modify Task</h4>
      </div>
        <div class="modal-body">
            <form method="post" action="/users/modifytask">
                <input type="hidden" name="dbid" id="taskID" value="" readonly/>
                <div class="form-group row">
                    <label for="titleID" class="col-sm-2 form-control-label">Task Title</label>
                    <div class="col-sm-10">
                        <input type="text" name="tasktitle" class="form-control" id="titleID" placeholder="Task Title" value=""/>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="dateID" class="col-sm-2 form-control-label">Date Due</label>
                    <div class="col-sm-10">
                        <input type="date" name="datedue" class="form-control" id="dateID"  value=""/>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="timeID" class="col-sm-2 form-control-label">Time Due</label>
                    <div class="col-sm-10">
                        <input type="time" name="timedue" class="form-control" id="timeID"  value=""/>
                    </div>
                </div>
                <div class = "divform">
                    <label for="bodyID">Task Body</label>
                    <br>
                    <textarea name="taskbody" rows="3" cols="40"  wrap="hard" id="bodyID"  value=""/>
                    </textarea>
                    <br>
                    <button type="submit" class="button button-modsub ">
                        <i class="zmdi zmdi-assignment"></i> Modify Task
                    </button>
                </div>
                </form>
            </div>
      <div class="modal-footer">
        <button type="button" class="button" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- Delete Modal -->
<div class="modal fade" id="myModalDel" tabindex="-1" role="dialog" aria-labelledby="myModalLabelDel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">
                <i class="fa fa-times-circle-o" aria-hidden="true"></i>
            </span>
        </button>
        <h4 class="modal-title" id="myModalLabelDel">Delete Task</h4>
      </div>
        <div class="modal-body">
            <div class="divform">
                Are you sure you want to delete the following task?<br>
                <i class="fa fa-exclamation-triangle fa-fw"></i> This cannot be undone!<br>
            </div>
                <form class method="post" action="/users/deletetask">
                    <input type="hidden" name="dbid" id="taskID" value="" readonly/>
                    <div class="form-group row">
                        <label for="titleID" class="col-sm-2 form-control-label">Task Title</label>
                        <div class="col-sm-10">
                            <input type="text" name="tasktitle" class="form-control" id="titleID" placeholder="Task Title" value="" readonly/>
                        </div>
                    </div>
                    <div class = "divform">
                        <label for="bodyID">Task Body</label>
                        <br>
                        <textarea name="taskbody" rows="3" cols="40"  wrap="hard" id="bodyID" value="" readonly/>
                        </textarea>
                        <br>
                        <button type="submit" class="button button-delsub">
                            <i class="fa fa-eraser fa-fw"></i>  Delete Task
                        </button>
                    </div>
                </form>
        </div>
      <div class="modal-footer">
        <button type="button" class="button" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
  </div>
  <!-- Color Modal -->
  <div class="modal fade" id="myModalCol" tabindex="-1" role="dialog" aria-labelledby="myModalLabelCol" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">
                  <i class="fa fa-times-circle-o" aria-hidden="true"></i>
              </span>
          </button>
          <h4 class="modal-title" id="myModalLabelCol"> Change Task Color </h4>
        </div>
          <div class="modal-body">
              <form method="post" action="/users/changecolor">
                  <div class="divform">
                      Change the task color!<br>
                  </div>
                  <br>
                  <input type="hidden" name="dbid" id="taskID" value="" readonly/>
                  <input type="hidden" name="txtclid" id="txtcolID" value="">
                  <input type="hidden" name="bxid" id="bxID" value="">
                  <div class="text-center">
                      <div class="btn-group" data-toggle="buttons">
                          {{#if allcolors}}
                              {{#each allcolors}}
                                  <label class="btn btn-primary" style="background-color:{{colorcode}};">
                                      <input type="radio" name="color" autocomplete="off" value="{{colorcode}}">
                                      <i class="zmdi zmdi-circle zmdi-hc-fw" style="color: {{colorcode}};"></i>
                                  </label>
                              {{/each}}
                          {{/if}}
                      </div>
                  </div>
                <br>
            </div>
                  <div class = "divform">
                      <button type="submit" class="button button-colsub">
                          <i class="zmdi zmdi-brush"></i>  Change Color
                      </button>
                  </div>
            </form>
        <div class="modal-footer">
          <button type="button" class="button" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
</div>

<!--  Easiest way to do this now unfortunately-->
<script>
    $(document).on("click", ".button-mod", function () {
        var mytaskid = $(this).data('id');
        var mytasktitle = $(this).data('title');
        var mytaskbody = $(this).data('body');
        var mytaskdate = $(this).data('date');
        var mytasktime = $(this).data('time');
        $(".modal-body #taskID").val( mytaskid );
        $(".modal-body #titleID").val( mytasktitle );
        $(".modal-body #bodyID").val( mytaskbody );
        $(".modal-body #dateID").val( mytaskdate  );
        $(".modal-body #timeID").val( mytasktime );
    });
    $(document).on("click",".button-del",function(){
        var mytaskid = $(this).data('id');
        var mytasktitle = $(this).data('title');
        var mytaskbody = $(this).data('body');
        $(".modal-body #titleID").val( mytasktitle );
        $(".modal-body #taskID").val( mytaskid );
        $(".modal-body #bodyID").val( mytaskbody );

    });
    $(document).on("click",".button-col",function(){
        var mytaskid = $(this).data('id');
        var mytasktitle = $(this).data('title');
        $(".modal-body #titleID").val( mytasktitle );
        $(".modal-body #taskID").val( mytaskid );
    })
    $(".button-col").hover(function(){
        var newbxshadow  = $(this).data("shadow");
        $(this).css('box-shadow',newbxshadow);
    }, function(){
        $(this).css('box-shadow','');
    });
    $(".button-del").hover(function(){
        var newbxshadow  = $(this).data("shadow");
        $(this).css('box-shadow',newbxshadow);
    }, function(){
        $(this).css('box-shadow','');
    });
    $(".button-mod").hover(function(){
        var newbxshadow  = $(this).data("shadow");
        $(this).css('box-shadow',newbxshadow);
    }, function(){
        $(this).css('box-shadow','');
    });
</script>
