<!--
@Author: Vargas Hector <vargash1>
@Date:   Wednesday, March 30th 2016, 5:42:52 pm
@Email:  vargash1@wit.edu
@Last modified by:   vargash1
@Last modified time: Tuesday, April 5th 2016, 6:09:00 am
-->
{{#unless user.username}}
    <div class = "divform">
        Welcome to vTask, please sign in or create an account!
    </div>
{{/unless}}
{{#if message}}
    <div class = "divform">
            <i class="fa fa-info-circle"></i> {{message}} <br>
    </div>
{{/if}}
<!--  modal messages-->
{{#if mod}}
    <div class = "divform">
        {{#each mods}}
            <i class="fa fa-info-circle"></i> {{mods}} <br>
        {{/each}}
    </div>
{{/if}}
<br>
{{#if tasks}}
    <div class="grid" data-masonry='{ "columnWidth": 200, "gutter":10,"isFitWidth": true,"itemSelector": ".grid-item"}'>
    {{#each tasks}}
        <div class="grid-item">
            <blockquote class="note notecolor" style="background-color:{{colors}};color:{{txtcolor}}">
                    <div class="titletext">
                        {{title}}

                        <div class="noteoptions">
                            <button class="button button-mod" style="color:{{txtcolor}};" data-toggle="modal" data-target="#myModalMod"  data-id="{{noteid}}" data-title="{{title}}" data-body="{{taskbody}}" data-date="{{to_char}}" data-time="{{timedue}}">
                                <i class="fa fa-wrench fa-fw"></i>
                            </button>
                            <button class="button button-del" style="color:{{txtcolor}};" data-toggle="modal" data-target="#myModalDel"  data-id="{{noteid}}" data-title="{{title}}" data-body="{{taskbody}}">
                                <i class="fa fa-eraser fa-fw"></i>
                            </button>
                            <button class="button button-col" style="color:{{txtcolor}};" data-toggle="modal" data-target="#myModalCol"  data-id="{{noteid}}" data-title="{{title}}">
                                <i class="zmdi zmdi-palette"></i>
                            </button>
                        </div>
                    </div>
                    <br>
                    {{taskbody}} <br>
                    {{#if to_char}}
                        <i class="fa fa-calendar fa-fw"></i> {{to_char}}
                    {{/if}}
                    {{#if timedue}}
                        <i class="fa fa-clock-o fa-fw"></i> {{timedue}} <br>
                    {{/if}}
            </blockquote>
        </div>
    {{/each}}
    </div>
{{/if}}

<!-- Modify Modal -->
<div class="modal fade" id="myModalMod" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">
                &times;
            </span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Modify Task</h4>
      </div>
        <div class="modal-body">
            <form method="post" action="/users/modifytask">
                <input type="hidden" name="dbid" id="taskID" value="" readonly/>
                <div class="form-group row">
                    <label for="titleID" class="col-sm-2 form-control-label">Task Title</label>
                    <div class="col-sm-10">
                        <input type="text" name="tasktitle" class="form-control" id="titleID" placeholder="Task Title" value=""/>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="dateID" class="col-sm-2 form-control-label">Date Due</label>
                    <div class="col-sm-10">
                        <input type="date" name="datedue" class="form-control" id="dateID"  value=""/>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="timeID" class="col-sm-2 form-control-label">Time Due</label>
                    <div class="col-sm-10">
                        <input type="time" name="timedue" class="form-control" id="timeID"  value=""/>
                    </div>
                </div>
                <div class = "divform">
                    <label for="bodyID">Task Body</label>
                    <br>
                    <textarea name="taskbody" rows="3" cols="40"  wrap="hard" id="bodyID"  value=""/>
                    </textarea>
                    <br>
                    <button type="submit" class="button button-modsub ">
                        <i class="zmdi zmdi-assignment"></i> Modify Task
                    </button>
                </div>
                </form>
            </div>
      <div class="modal-footer">
        <button type="button" class="button" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- Delete Modal -->
<div class="modal fade" id="myModalDel" tabindex="-1" role="dialog" aria-labelledby="myModalLabelDel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">
                &times;
            </span>
        </button>
        <h4 class="modal-title" id="myModalLabelDel">Delete Task</h4>
      </div>
        <div class="modal-body">
            <div class="divform">
                Are you sure you want to delete the following task?<br>
                <i class="fa fa-exclamation-triangle fa-fw"></i> This cannot be undone!<br>
            </div>
                <form class method="post" action="/users/deletetask">
                    <input type="hidden" name="dbid" id="taskID" value="" readonly/>
                    <div class="form-group row">
                        <label for="titleID" class="col-sm-2 form-control-label">Task Title</label>
                        <div class="col-sm-10">
                            <input type="text" name="tasktitle" class="form-control" id="titleID" placeholder="Task Title" value="" readonly/>
                        </div>
                    </div>
                    <div class = "divform">
                        <label for="bodyID">Task Body</label>
                        <br>
                        <textarea name="taskbody" rows="3" cols="40"  wrap="hard" id="bodyID" value="" readonly/>
                        </textarea>
                        <br>
                        <button type="submit" class="button button-delsub">
                            <i class="fa fa-eraser fa-fw"></i>  Delete Task
                        </button>
                    </div>
                </form>
        </div>
      <div class="modal-footer">
        <button type="button" class="button" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
  </div>
  <!-- Color Modal -->
  <div class="modal fade" id="myModalCol" tabindex="-1" role="dialog" aria-labelledby="myModalLabelCol" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">
                  &times;
              </span>
          </button>
          <h4 class="modal-title" id="myModalLabelCol"> Change Task Color </h4>
        </div>
          <div class="modal-body">
              <form method="post" action="/users/changecolor">
                  <div class="divform">
                      Change the task's color!<br>
                  </div>
                  <br>
                  <input type="hidden" name="dbid" id="taskID" value="" readonly/>
                  <input type="hidden" name="txtclid" id="txtcolID" value="">
                  <input type="hidden" name="bxid" id="bxID" value="">
                  <div class="text-center">
                  <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-primary active" style="background-color:#1793D1;">
                                <input type="radio" name="color" autocomplete="off" value="#1793D1" checked>
                                <i class="zmdi zmdi-circle  zmdi-hc-fw" style="color:#1793D1;"></i>
                            </label>
                            <label class="btn btn-primary" style="background-color: #00FFFF;">
                                <input type="radio" name="color"  autocomplete="off" value="#00FFFF">
                                <i class="zmdi zmdi-circle  zmdi-hc-fw" style="color:#00FFFF;"></i>
                            </label>
                            <label class="btn btn-primary" style="background-color: #7FFFD4;">
                                <input type="radio" name="color"  autocomplete="off" value="#7FFFD4">
                                <i class="zmdi zmdi-circle  zmdi-hc-fw" style="color:#7FFFD4;"></i>
                            </label>
                            <label class="btn btn-primary" style="background-color:#FFB6C1;">
                                <input type="radio" name="color"  autocomplete="off" value="#FFB6C1">
                                <i class="zmdi zmdi-circle  zmdi-hc-fw" style="color:#FFB6C1;"></i>
                            </label>
                            <label class="btn btn-primary" style="background-color:#FFA07A;">
                                <input type="radio"  name="color" autocomplete="off" value="#FFA07A">
                                <i class="zmdi zmdi-circle  zmdi-hc-fw" style="color: #FFA07A;"></i>
                            </label>
                            <label class="btn btn-primary" style="background-color:#20B2AA;">
                                <input type="radio"  name="color" autocomplete="off" value="#20B2AA">
                                <i class="zmdi zmdi-circle  zmdi-hc-fw" style="color:#20B2AA;"></i>
                            </label>
                            <label class="btn btn-primary" style="background-color:#90EE90;">
                                <input type="radio"  name="color"  autocomplete="off" value="#90EE90">
                                <i class="zmdi zmdi-circle  zmdi-hc-fw" style="color: #90EE90;"></i>
                            </label>
                            <label class="btn btn-primary" style="background-color:#FF69B4;">
                                <input type="radio"  name="color" autocomplete="off" value="#FF69B4">
                                <i class="zmdi zmdi-circle  zmdi-hc-fw" style="color: #FF69B4;"></i>
                            </label>
                            <label class="btn btn-primary" style="background-color:#FFD700;">
                                <input type="radio"  name="color" autocomplete="off" value="#FFD700">
                                <i class="zmdi zmdi-circle  zmdi-hc-fw" style="color: #FFD700;"></i>
                            </label>
                            <label class="btn btn-primary" style="background-color:#2F4F4F;">
                                <input type="radio"  name="color" autocomplete="off" value="#2F4F4F">
                                <i class="zmdi zmdi-circle  zmdi-hc-fw" style="color: #2F4F4F;"></i>
                            </label>
                            <label class="btn btn-primary" style="background-color:#DC143C;">
                                <input type="radio"  name="color" autocomplete="off" value="#DC143C">
                                <i class="zmdi zmdi-circle  zmdi-hc-fw" style="color: #DC143C;"></i>
                            </label>
                            <label class="btn btn-primary" style="background-color:#FAEBD7;">
                                <input type="radio"  name="color" autocomplete="off" value="#FAEBD7">
                                <i class="zmdi zmdi-circle  zmdi-hc-fw" style="color: #FAEBD7;"></i>
                            </label>
                            <label class="btn btn-primary" style="background-color:#ADD8E6;">
                                <input type="radio"  name="color" autocomplete="off" value="#ADD8E6">
                                <i class="zmdi zmdi-circle  zmdi-hc-fw" style="color: #ADD8E6;"></i>
                            </label>
                            <label class="btn btn-primary" style="background-color:#66CDAA;">
                                <input type="radio"  name="color" autocomplete="off" value="#66CDAA">
                                <i class="zmdi zmdi-circle  zmdi-hc-fw" style="color: #66CDAA;"></i>
                            </label>
                            <label class="btn btn-primary" style="background-color:#3CB371;">
                                <input type="radio"  name="color" autocomplete="off" value="#3CB371">
                                <i class="zmdi zmdi-circle  zmdi-hc-fw" style="color: #3CB371;"></i>
                            </label>
                            <label class="btn btn-primary" style="background-color:#7B68EE;">
                                <input type="radio"  name="color" autocomplete="off" value="#7B68EE">
                                <i class="zmdi zmdi-circle  zmdi-hc-fw" style="color: #7B68EE;"></i>
                            </label>
                            <!--  Dark -->
                            <label class="btn btn-primary" style="background-color:#000080;">
                                <input type="radio"  name="color" autocomplete="off" value="#000080">
                                <i class="zmdi zmdi-circle  zmdi-hc-fw" style="color: #000080;"></i>
                            </label>
                            <label class="btn btn-primary" style="background-color:#FF4500;">
                                <input type="radio"  name="color" autocomplete="off" value="#FF4500">
                                <i class="zmdi zmdi-circle  zmdi-hc-fw" style="color: #FF4500;"></i>
                            </label>
                            <label class="btn btn-primary" style="background-color:#DA70D6;">
                                <input type="radio"  name="color" autocomplete="off" value="#DA70D6">
                                <i class="zmdi zmdi-circle  zmdi-hc-fw" style="color: #DA70D6;"></i>
                            </label>
                            <label class="btn btn-primary" style="background-color:#98FB98;">
                                <input type="radio"  name="color" autocomplete="off" value="#98FB98">
                                <i class="zmdi zmdi-circle  zmdi-hc-fw" style="color: #98FB98;"></i>
                            </label>
                            <label class="btn btn-primary" style="background-color:#2E8B57;">
                                <input type="radio"  name="color" autocomplete="off" value="#2E8B57">
                                <i class="zmdi zmdi-circle  zmdi-hc-fw" style="color: #2E8B57;"></i>
                            </label>
                            <label class="btn btn-primary" style="background-color:#00FF7F;">
                                <input type="radio"  name="color" autocomplete="off" value="#00FF7F">
                                <i class="zmdi zmdi-circle  zmdi-hc-fw" style="color: #00FF7F;"></i>
                            </label>
                            <label class="btn btn-primary" style="background-color:#008080;">
                                <input type="radio"  name="color" autocomplete="off" value="#008080">
                                <i class="zmdi zmdi-circle  zmdi-hc-fw" style="color: #008080;"></i>
                            </label>
                            <label class="btn btn-primary" style="background-color:#708090;">
                                <input type="radio"  name="color" autocomplete="off" value="#708090">
                                <i class="zmdi zmdi-circle  zmdi-hc-fw" style="color: #708090;"></i>
                            </label>
                            <label class="btn btn-primary" style="background-color:white;">
                                <input type="radio"  name="color" autocomplete="off" value="white">
                                <i class="zmdi zmdi-circle  zmdi-hc-fw" style="color:white;"></i>
                            </label>
                            <label class="btn btn-primary" style="background-color:#FF0000;">
                                <input type="radio"  name="color" autocomplete="off" value="#FF0000">
                                <i class="zmdi zmdi-circle  zmdi-hc-fw" style="color: #FF0000;"></i>
                            </label>
                            <label class="btn btn-primary" style="background-color:#AFEEEE;">
                                <input type="radio"  name="color" autocomplete="off" value="#AFEEEE">
                                <i class="zmdi zmdi-circle  zmdi-hc-fw" style="color: #AFEEEE;"></i>
                            </label>
                            <label class="btn btn-primary" style="background-color:yellow;">
                                <input type="radio"  name="color" autocomplete="off" value="yellow">
                                <i class="zmdi zmdi-circle  zmdi-hc-fw" style="color:yellow;"></i>
                            </label>
                            <label class="btn btn-primary" style="background-color:#FF4500;">
                                <input type="radio"  name="color" autocomplete="off" value="#FF4500">
                                <i class="zmdi zmdi-circle  zmdi-hc-fw" style="color:#FF4500;"></i>
                            </label>
                            <label class="btn btn-primary" style="background-color:black;">
                                <input type="radio"  name="color" autocomplete="off" value="black">
                                <i class="zmdi zmdi-circle  zmdi-hc-fw" style="color:black;"></i>
                            </label>

                        </div>
                    </div>
                    <br>
            </div>
                  <div class = "divform">
                      <button type="submit" class="button button-colsub">
                          <i class="zmdi zmdi-brush"></i>  Change Color
                      </button>
                  </div>
            </form>
        <div class="modal-footer">
          <button type="button" class="button" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
</div>

<!--  Easiest way to do this now unfortunately-->
<script>
    $(document).on("click", ".button-mod", function () {
        var mytaskid = $(this).data('id');
        var mytasktitle = $(this).data('title');
        var mytaskbody = $(this).data('body');
        var mytaskdate = $(this).data('date');
        var mytasktime = $(this).data('time');
        $(".modal-body #taskID").val( mytaskid );
        $(".modal-body #titleID").val( mytasktitle );
        $(".modal-body #bodyID").val( mytaskbody );
        $(".modal-body #dateID").val( mytaskdate  );
        $(".modal-body #timeID").val( mytasktime );
    });
    $(document).on("click",".button-del",function(){
        var mytaskid = $(this).data('id');
        var mytasktitle = $(this).data('title');
        var mytaskbody = $(this).data('body');
        $(".modal-body #titleID").val( mytasktitle );
        $(".modal-body #taskID").val( mytaskid );
        $(".modal-body #bodyID").val( mytaskbody );

    });
    $(document).on("click",".button-col",function(){
        var mytaskid = $(this).data('id');
        var mytasktitle = $(this).data('title');
        $(".modal-body #titleID").val( mytasktitle );
        $(".modal-body #taskID").val( mytaskid );
    });

</script>
